{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1 class="text-center"></h1>

  {# <img src={{asset('img/lambo_or.jpg')}} width="100%"> #}
  <img src={{asset('img/merco_beige.jpg')}} width="100%">

{% endblock %}

